<% if user_signed_in? %>
  <% if user_authenticated %>
    <%= render template: 'navbar/index' %>
  <% end %>
<% else %>
  <div class='hello'>
    This is the backend for <%= link_to 'https://www.matyou.net/', 'https://www.matyou.net/' %><%= link_to '.', new_user_session_path %>
  </div>
<% end %>